
.masonry-grid {
	width: 100%;
	.grid-item {
		@media screen and (max-width: 601px) { width: calc(50% - 15px); }
		@media screen and (max-width: 401px) { width: calc(50% - 15px); }

		width: calc(33% - 15px);
		margin-bottom: 15px;

		img {
			width: 100%;
			height: auto;

		}

		/* Overlay icon */
		.hover-icon {
			background: rgba(0, 0, 0, 0.33);
			transition: opacity 0.3s ease-in-out;
			opacity: 0;
			position: absolute;

			top:    0;
			right:  0;
			bottom: 0;
			left:   0;

			span {
				color: #FFF;
				font-size: 3em;
				text-shadow: 1px 1px 2px #000;
				transform: translate3d(-50%, -50%, 0);
				position: absolute;
				top: 50%;
				left: 50%;
			}
		}

		&:hover .hover-icon {
			opacity: 1;
		}
	}

}
